#collectionIndexWrapper {
	height: 100%;
	width: 100%;
	z-index: 1;
	position: absolute;
	display: block;
	overflow: hidden;
}

#collectionIndexRow1 {
	display: block;
	width: 100%;
	height: 33.33%;
}

#collectionIndexRow2 {
	display: block;
	width: 100%;
	height: 33.33%;
}

#collectionIndexRow3 {
	display: block;
	width: 100%;
	height: 33.33%;
}

.collectionItem {
	display: inline-block;
	margin: 0px;
	width: 33.33%;
	height: 100%;
	position:relative;
	overflow:hidden;
	line-height: 100%;
	text-align: center;
	float: left;
	cursor: pointer;
}

.card {
	box-shadow: 1px 1px 4px black;
	width: 100%;
	height: 100%;
}

.cardFace {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
}

.cardFace h1, h4, p {
	color: white;
	font-family:'Yantramanav', sans-serif;
}

.cardFace h4 {
	font-weight: 700;
}

.cardFace p {
	width: 80%;
	margin: 0 auto;
	font-size: 16pt;
	line-height: 20px
}

.cardFaceAlt {
	color: #222 !important;
}

.front h1 {
	font-weight: 100;
	margin-bottom:0px;
}
.albumIcon {
	display:inline-block;
	opacity:0;
	height: 75%;
	vertical-align: middle;
	margin: auto;
	margin-top: -5%;
}

.alignmentHelper {
	display:inline-block;
	height:100%;
	vertical-align: middle;
}

/* Styling for individual album covers */
#album1 {
	background-color: #3D060D;
}
#album2 {
	background-color: #5A2D10;
}
#album3 {
	background-color: #764494;
}
#album4 {
	background-color: #D1DAD9;
}
#album5 {
	background-color: #EC2D4A;
}
#album6 {
	background-color: #D8C193;
}
#album7 {
	background-color: #F2F2F2;
}
#album8 {
	background-color: #1A1A1A;
}
#album9 {
	background-color: #F68B57;
}